body.light {
    background: linear-gradient(90deg, #00d8ff, #FFFFFF);
    color: #000000;
}
  
body.dark {
    background: linear-gradient(90deg, #f7df1e, #FFFFFF);
    color: #000000;
}


.app {
    height: 100%; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
  
button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 25px; 
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #388E3C; 
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}